.profile {
    background-color: rgb(255, 255, 255);
    max-width: 54.6%;
    height: 10%;
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1%;
    align-items: center;
    margin-top: 5%;
    margin-bottom:0% ;
    margin-left: 21.7%;
}

.profile img {
    width: 10%;
    height: 5%;
    margin-left: 1%;
    border-radius: 40px;
    padding: 1px;

}

.profile p {
    margin-left: 2%;
   

}
@media all and (max-width:410px){
    .profile {
        min-width: 100%;
    }
}