
.profile {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: flex-start;
    margin-bottom:7% ;
    
}


.profile p {
    margin-left: 1%;
}
@media all and (max-width:410px){
    .profile{
        width: 24.5em;
        margin-left: -40%;
    }
}