.icons-nav{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin-left: 43%;
}

.icons-nav button{
    width: 20%;
    height: 90%;
}

button{
    align-content: center;
    background: transparent;
    border: none;
}

button img{
    width: 100%;
}