new-des{
/*     background-color: aqua; */
    min-width: 56.4%;
    max-width: 56.4%;
}
.post {
    background-color: rgb(22, 22, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 8%;
    
}

.post img {
   width: 56.5%;
    
}
new-prof{
    width: 56.4%;
}


@media all and (max-width:410px){
    .post img{
        width:100% ;
    }
    new-des{
        width: 3em;
    }
    new-prof{
        width: 100%;
    }
}